.container {
  margin: 0 2rem;
  display: flex;
}

.container .main {
  flex-basis: 66%;
}

.container aside {
  flex-basis: 66%;
}

.main {
  min-height: 100%;
  margin: 0 0 0 122px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
