html,
body {
  padding: 0;
  margin: 0;
}

hr {
  margin-top: 4rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: lores-9-plus-wide, sans-serif;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 410;
}

.anchor {
  position: relative;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

button:focus, textarea:focus, input:focus {
    outline: none;
}

.actionButton.disabled, button:disabled, textarea:disabled, input:disabled {
  background: hwb(79 2% 30%);
}

.actionButton.disabled {
  background: hwb(79 2% 30%) !important;
}
