.h2 {
  font-size: 40px;
  line-height: 44px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ABF806;
}

.h2::before {
  content: '>'
}

.h2::after {
  content: '<'
}

.h3 {
  font-size: 36px;
  line-height: 40px;

  display: flex;
  align-items: center;

  color: #ABF806;

}

.h3::after {
  content: '>>'
}
