.article {
  position: relative;
  width: 870px;

  display: flex;
  align-items: flex-start;
  text-align: center;

  color: #000000;
}


.article :global(.box) {
  padding: 58px 20px 20px 20px;
}

.article :global(.boxAnnotation.large) {
  position: absolute;
  top: 0;
  left: -25px;
}

.article :global(.boxAnnotation.small) {
  position: absolute;
  bottom: -18px;
  right: -20px;
}


.article :global(.squareBorderedButton) {
  margin-top: 0px;
}
